@model ServerReplayPlayer.Contracts.CompetitionsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Replayer</title>
        <link type="text/css" rel="stylesheet" href="/other/css.css" />
        <script lang="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>
        <script lang="text/javascript" src="/Scripts/homeIndex.js"></script>
    </head>
    <body>
        <table id="loginInfo" class="info" align="center">
            @{
                if (Model.Command == null)
                {
                    <tr><td></td></tr>
                    <tr>
                        <td>Войдите, чтобы отправлять решения</td>
                        <td class="close">X</td>
                    </tr>
                    <tr><td>login: <input id="login"/></td></tr>
                    <tr><td>pass: <input id="pass" type="password"/></td></tr>
                    <tr><td id="incorrectPassMessage" class="incorrectPassMessage" style="display: none;">Неверный логин или пароль!</td></tr>
                    <tr><td><a id="loginButton" class="linkName" href="#">Войти</a></td></tr>
                }
                else
                {
                    <tr><td>Команда: @Model.Command.CommandName</td></tr>
                    <tr><td><a id="logoutButton" class="linkName" href="#">Выйти</a></td></tr>
                }
            }
        </table>
        <table id="mainTable" align="center">
            <tr>
                @foreach (var replay in Model.CompetitionsInfos)
                {
                    <td>
                        <a class="levelName" href="/Home?level=@replay.Level"><h2>@replay.Level</h2></a>
                        @if (Model.Command != null)
                        {
                            <div class="ajax-file-upload">Загрузить решение
                                <form method="POST" action="/Replay/UploadFile?level=@replay.Level" enctype="multipart/form-data">
                                    <input type="file" name="file" accept=".zip" class="input">
                                </form>
                            </div>
                        }
                    </td>
                }
            </tr>
            <tr>
            @foreach (var replays in Model.CompetitionsInfos)
            {
                <td>
                    <table filterBy="@replays.Level" align="center" class="info">
                        <thead>
                            <tr>
                                <td class="filter">
                                    Фильтр: <input filterBy="@replays.Level" type="text"/>                                    
                                </td>
                            </tr>
                            <tr>
                                <td class="teamName">Команда</td>
                                <td class="points">Очки</td>
                            </tr>
                        </thead>   
                        @foreach (var replay in replays.MatchResults)
                        {
                            <tr>
                                <td>
                                    @if (replay.Id != Guid.Empty)
                                    {
                                        var url = string.Format("/Replay/Get?level={0}&redPoints={1}&bluePoints={2}&id={3}", 
                                            replays.Level, replay.PlayerPoints, replay.Player2Points, replay.Id);
                                        <a teamName="true" href="@url" class="linkName">
                                            @Html.Partial("TeamView", replay)
                                        </a>
                                    }
                                    else
                                    {
                                        <div teamName="true">
                                            @Html.Partial("TeamView", replay)
                                        </div>
                                    }
                                </td>
                                <td>
                                    @(replay.IsMatchPlayed ? replay.PlayerPoints + ":" + replay.Player2Points : "Матч ещё не сыгран")
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            }
        </table>
    </body>
</html>