@model ServerReplayPlayer.Contracts.ReplaysViewModel[]

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Replayer</title>
        <link type="text/css" rel="stylesheet" href="other/css.css" />
    </head>
    <body link="red" vlink="#0000ff" alink="#0000ff">
        <table id="mainTable">
            <tr>
                @foreach (var replay in Model)
                {
                    <td>
                        <h2>@replay.Level</h2>
                        @Html.Partial("UploadClient", @replay.Level)
                    </td>
                }
            </tr>
            <tr>
                @foreach (var replays in Model)
                {
                    <td><table id="info">
                        <thead>
                            <tr>
                                <td>Имя</td>
                                <td>Очки</td>
                            </tr>
                        </thead>
                        @foreach (var replay in replays.Replays)
                        {
                            <tr>
                                @{ var text = replay.Player + (replay.Player2 == null ? "" : " vs " + replay.Player2); }
                                @{ var url = "Replay/Get?level=" + replays.Level + "&id=" + replay.Id;}
                                <td><a href="@url" class="linkName">@text</a></td>
                                <td>@replay.Points</td>
                            </tr>
                        }
                    </table></td>
                }
            </tr>
        </table>
    </body>
</html>