@model CommonTypes.CompetitionsInfo[]

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Replayer</title>
        <link type="text/css" rel="stylesheet" href="/other/css.css" />
        <script lang="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>
        <script lang="text/javascript" src="/Scripts/jquery.uploadfile.min.js"></script>
        <script lang="text/javascript">
            function attachOnUploadFile() {
                $("[uploadClient]").each(function (i, element) {
                    var jElement = $(element);
                    var level = jElement.attr("uploadClient");
                    jElement.uploadFile({
                        url: "/Replay/UploadFile?level=" + level,
                        fileName: "file",
                        acceptFiles: ".zip, .rar",
                        dragDrop: false,
                        onSuccess: function () {
                            alert('загружено!');
                        },
                        onError: function () {
                            window.location = "/Replay/UploadFailed";
                        }
                    });
                });
            };

            function attachOnFilter() {
                $("input[filterBy]").each(function (i, element) {
                    var jElement = $(element);
                    var level = jElement.attr("filterBy");
                    var trs = $("table[filterBy=" + level + "] tr").not('thead tr');
                    jElement.keyup(function () {
                        var value = jElement.val();
                        trs.each(function(index, elem) {
                            var teamName = $(elem).find("[teamName]").text();
                            if (teamName.indexOf(value) >= 0)
                                $(elem).show();
                            else
                                $(elem).hide();
                        });
                    });
                });
            };

            $(document).ready(function() {
                attachOnUploadFile();
                attachOnFilter();
            });
        </script>
    </head>
    <body>
        <table id="mainTable" align="center">
            <tr>
                @foreach (var replay in Model)
                {
                    <td>
                        <a class="levelName" href="/Home?level=@replay.Level"><h2>@replay.Level</h2></a>
                        <div uploadClient="@replay.Level">Загрузить решение</div>
                    </td>
                }
            </tr>
            <tr>
                @foreach (var replays in Model)
                {
                    <td>
                        <table filterBy="@replays.Level" align="center" class="info">
                            <thead>
                                <tr>
                                    <td class="filter">
                                        Фильтр: <input filterBy="@replays.Level" type="text"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Команда</td>
                                    <td>Очки</td>
                                </tr>
                            </thead>
                            @foreach (var replay in replays.MatchResults)
                            {
                                <tr>
                                    @{ var text = replay.Player.Name + (replay.Player2 == null ? "" : " vs " + replay.Player2.Name); }
                                    <td>
                                        @if (replay.Id != null)
                                        {
                                            var url = "/Replay/Get?level=" + replays.Level + "&id=" + replay.Id;
                                            <a teamName="true" href="@url" class="linkName">@text</a>
                                        }
                                        else
                                        {
                                            <div teamName="true">@text</div>
                                        }
                                    </td>
                                    <td>
                                        @(string.IsNullOrEmpty(replay.Points) ? "Матч ещё не сыгран" : replay.Points)
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                }
        </table>
    </body>
</html>