@using CommonTypes
@model ServerReplayPlayer.Contracts.CompetitionsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Replayer</title>
        <link type="text/css" rel="stylesheet" href="/other/css.css" />
        <script lang="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>
        <script lang="text/javascript" src="/Scripts/jquery.uploadfile.min.js"></script>
        <script lang="text/javascript" src="/Scripts/homeIndex.js"></script>
    </head>
    <body>
        <table id="loginInfo" class="info" align="center">
            @{
                if (Model.Command == null)
                {
                    <tr><td></td></tr>
                    <tr>
                        <td>Войдите, чтобы отправлять решения</td>
                        <td class="close">X</td>
                    </tr>
                    <tr><td>login: <input id="login"/></td></tr>
                    <tr><td>pass: <input id="pass" type="password"/></td></tr>
                    <tr><td id="incorrectPassMessage" class="incorrectPassMessage" style="display: none;">Неверный логин или пароль!</td></tr>
                    <tr><td><a id="loginButton" class="linkName" href="#">Войти</a></td></tr>
                }
                else
                {
                    <tr><td>Команда: @Model.Command.CommandName</td></tr>
                    <tr><td><a id="logoutButton" class="linkName" href="#">Выйти</a></td></tr>
                }
            }
        </table>
        <table id="mainTable" align="center">
            <tr>
                @foreach (var replay in Model.CompetitionsInfos)
                {
                    <td>
                        <a class="levelName" href="/Home?level=@replay.Level"><h2>@replay.Level</h2></a>
                        @if (Model.Command != null)
                        {
                            <div uploadClient="@replay.Level">Загрузить решение</div>                        
                        }
                    </td>
                }
            </tr>
            <tr>
            @foreach (var replays in Model.CompetitionsInfos)
            {
                <td>
                    <table filterBy="@replays.Level" align="center" class="info">
                        <thead>
                            <tr>
                                <td class="filter">
                                    Фильтр: <input filterBy="@replays.Level" type="text"/>                                    
                                </td>
                            </tr>
                            <tr>
                                <td>Команда</td>
                                <td>Очки</td>
                            </tr>
                        </thead>   
                        @foreach (var replay in replays.MatchResults)
                        {
                            <tr>
                                @{ var text = replay.Player.Name + (replay.Player2 == null ? "" : " vs " + replay.Player2.Name); }
                                <td>
                                    @if (replay.Id != null)
                                    {
                                        var url = "/Replay/Get?level=" + replays.Level + "&points=" + replay.Points + "&id=" + replay.Id;
                                        <a teamName="true" href="@url" class="linkName">@text</a>
                                    }
                                    else
                                    {
                                        <div teamName="true">@text</div>
                                    }
                                </td>
                                <td>
                                    @(string.IsNullOrEmpty(replay.Points) ? "Матч ещё не сыгран" : replay.Points)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            }
        </table>
    </body>
</html>