@model ServerReplayPlayer.Contracts.ReplaysViewModel[]

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Replayer</title>
        <link type="text/css" rel="stylesheet" href="/other/css.css" />
        <script lang="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>
        <script lang="text/javascript" src="/Scripts/jquery.uploadfile.min.js"></script>
        <script lang="text/javascript">
            $(document).ready(function() {
                $("[uploadClient]").each(function (i, element) {
                    var jElement = $(element);
                    var level = jElement.attr("uploadClient");
                    jElement.uploadFile({
                        url: "/Replay/UploadFile?level=" + level,
                        fileName: "file",
                        allowedTypes: "zip, rar",
                        dragDrop: false,
                        onSuccess: function () {
                            alert('загружено!');
                        },
                        onError: function () {
                            window.location = "Replay/UploadFailed";
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <table id="mainTable" align="center">
            <tr>
                @foreach (var replay in Model)
                {
                    <td>
                        <h2>@replay.Level</h2>
                        <div uploadClient="@replay.Level">Загрузить решение</div>
                    </td>
                }
            </tr>
            <tr>
                @foreach (var replays in Model)
                {
                    <td>
                        <table align="center" class="info">
                            <thead>
                                <tr>
                                    <td>Имя</td>
                                    <td>Очки</td>
                                </tr>
                            </thead>
                            @foreach (var replay in replays.Replays)
                            {
                                <tr>
                                    @{ var text = replay.Player + (replay.Player2 == null ? "" : " vs " + replay.Player2); }
                                    @{ var url = "Replay/Get?level=" + replays.Level + "&id=" + replay.Id;}
                                    <td><a href="@url" class="linkName">@text</a></td>
                                    <td>@replay.Points</td>
                                </tr>
                            }
                        </table>
                    </td>
                }
        </table>
    </body>
</html>